# Core Web Server & File Handling
fastapi
jinja2
uvicorn[standard]
python-multipart>=0.0.26

# Database & Environment
supabase
alembic
python-dotenv
pydantic-settings

# AI, LLMs & Search
groq
openai
google-genai
tavily

# Data Processing & Network
pandas
numpy
requests
httpx
